@{
    Layout = "_Layout";
}

<h1 class="text-danger">@Localizer["Lo sentimos!"]</h1>
<h2 class="text-danger">@Localizer["No hemos encontrado su búsqueda"]</h2>
<p>@Localizer["Hemos tomado nota para revisar lo ocurrido y solucionarlo lo más pronto posible"]</p>
<p>@Localizer["Lo sentimos... Para volver al inicio, haga click en el logo."]</p>
