@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductWidgetComponentVm

<h2>@Model.WidgetName</h2>
<div class="row product-list">
    @foreach (var product in Model.Products)
    {
        <div class="col-xs-6 col-md-3">
            <partial name="/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
        </div>
    }
    <div class="col-md-12">
            <a href="/JARDINERIA-2641"><img src="/user-content/robot.jpg" class="rounded mx-auto d-block float-left" alt="robot cortacesped"></a>
            <a href="/UTILLAJE-2628"></a><img src="/user-content/pintura.jpg" class="rounded mx-auto d-block float-rigth" alt="pintura"></a>
        </div>
</div>
